
.vs/cppstuff/v17/.wsuo
.vs/cppstuff/FileContentIndex/8793809c-52fb-4b92-8c31-9d70dcead6d8.vsidx
.vs/cppstuff/FileContentIndex/read.lock
.vs/cppstuff/v17/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
P6/.vs/P6/FileContentIndex/9b618335-4da6-4258-8b1d-32a4f4954c09.vsidx
P6/.vs/P6/FileContentIndex/9e1cb127-112d-4808-b6a3-d8b8256a5272.vsidx
P6/.vs/P6/FileContentIndex/fef8e057-8ad3-4d06-873e-89c226eb218a.vsidx
P6/.vs/P6/FileContentIndex/read.lock
P6/.vs/P6/v17/.suo
P6/.vs/P6/v17/Browse.VC.db
P6/.vs/P6/v17/Browse.VC.db-shm
P6/.vs/P6/v17/Browse.VC.db-wal
P6/.vs/P6/v17/Browse.VC.opendb
P6/.vs/P6/v17/ipch/AutoPCH/988dd26db22a8e04/MAIN.ipch
P6/x64/Debug/main.obj
P6/x64/Debug/P6.exe
P6/x64/Debug/P6.exe.recipe
P6/x64/Debug/P6.ilk
P6/x64/Debug/P6.log
P6/x64/Debug/P6.pdb
P6/x64/Debug/P6.tlog/CL.command.1.tlog
P6/x64/Debug/P6.tlog/CL.read.1.tlog
P6/x64/Debug/P6.tlog/CL.write.1.tlog
P6/x64/Debug/P6.tlog/link.command.1.tlog
P6/x64/Debug/P6.tlog/link.read.1.tlog
P6/x64/Debug/P6.tlog/link.write.1.tlog
P6/x64/Debug/P6.tlog/P6.lastbuildstate
P6/x64/Debug/P6.vcxproj.FileListAbsolute.txt
P6/x64/Debug/vc143.idb
P6/x64/Debug/vc143.pdb
